SAICoop-war/web/WEB-INF/wsit-com.saicoop.modelo.webService.SAICoop.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SAICoop" targetNamespace="http://webService.modelo.saicoop.com/" xmlns:tns="http://webService.modelo.saicoop.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="insertaGpsAsesor"/>
    <message name="insertaGpsAsesorResponse"/>
    <message name="insertaGpsAvance"/>
    <message name="insertaGpsAvanceResponse"/>
    <message name="insertaGpsCatalogo"/>
    <message name="insertaGpsCatalogoResponse"/>
    <message name="insertaGpsContacto"/>
    <message name="insertaGpsContactoResponse"/>
    <message name="insertaGpsDetalle"/>
    <message name="insertaGpsDetalleResponse"/>
    <message name="insertaGpsObservacion"/>
    <message name="insertaGpsObservacionResponse"/>
    <message name="insertaGpsPeticiones"/>
    <message name="insertaGpsPeticionesResponse"/>
    <message name="actualizaGpsPeticiones"/>
    <message name="actualizaGpsPeticionesResponse"/>
    <message name="insertaGpsSociedades"/>
    <message name="insertaGpsSociedadesResponse"/>
    <message name="insertaGpsSolucion"/>
    <message name="insertaGpsSolucionResponse"/>
    <message name="insertaGpsSugerencia"/>
    <message name="insertaGpsSugerenciaResponse"/>
    <message name="idsiguientePeticion"/>
    <message name="idsiguientePeticionResponse"/>
    <message name="buscaGpsPeticionesPorIdasesor"/>
    <message name="buscaGpsPeticionesPorIdasesorResponse"/>
    <message name="buscaGpsPeticionesPorId"/>
    <message name="buscaGpsPeticionesPorIdResponse"/>
    <message name="buscaGpsSociedadPorId"/>
    <message name="buscaGpsSociedadPorIdResponse"/>
    <message name="buscaGpsAsesorPorId"/>
    <message name="buscaGpsAsesorPorIdResponse"/>
    <message name="buscaGpsAvancePorId"/>
    <message name="buscaGpsAvancePorIdResponse"/>
    <message name="buscaGpsCatalogoPorId"/>
    <message name="buscaGpsCatalogoPorIdResponse"/>
    <message name="buscaGpsContactoPorId"/>
    <message name="buscaGpsContactoPorIdResponse"/>
    <message name="buscaGpsDetallePorId"/>
    <message name="buscaGpsDetallePorIdResponse"/>
    <message name="buscaGpsObservacionPorId"/>
    <message name="buscaGpsObservacionPorIdResponse"/>
    <message name="buscaGpsSolucionPorId"/>
    <message name="buscaGpsSolucionPorIdResponse"/>
    <message name="buscaGpsSugerenciaPorId"/>
    <message name="buscaGpsSugerenciaPorIdResponse"/>
    <message name="buscaGpsCatalogosPorMenu"/>
    <message name="buscaGpsCatalogosPorMenuResponse"/>
    <message name="buscaTodosLosGpsAsesores"/>
    <message name="buscaTodosLosGpsAsesoresResponse"/>
    <message name="buscaTodosLosGpsContactos"/>
    <message name="buscaTodosLosGpsContactosResponse"/>
    <message name="buscaTodasLasGpsSociedades"/>
    <message name="buscaTodasLasGpsSociedadesResponse"/>
    <message name="buscaTodosLosGpsDetallesPorIdPeticion"/>
    <message name="buscaTodosLosGpsDetallesPorIdPeticionResponse"/>
    <message name="buscaTodosLosGpsAvancesPorIdPeticion"/>
    <message name="buscaTodosLosGpsAvancesPorIdPeticionResponse"/>
    <message name="buscaTodasLasGpsSolucionesPorIdPeticion"/>
    <message name="buscaTodasLasGpsSolucionesPorIdPeticionResponse"/>
    <message name="buscaTodasLasGpsObservacionesPorIdPeticion"/>
    <message name="buscaTodasLasGpsObservacionesPorIdPeticionResponse"/>
    <message name="buscaTodasLasGpsSugerenciasPorIdPeticion"/>
    <message name="buscaTodasLasGpsSugerenciasPorIdPeticionResponse"/>
    <message name="buscaUgrupo"/>
    <message name="buscaUgrupoResponse"/>
    <message name="buscaTodosLosUgrupos"/>
    <message name="buscaTodosLosUgruposResponse"/>
    <message name="buscarpermisosporIdUsuario"/>
    <message name="buscarpermisosporIdUsuarioResponse"/>
    <message name="buscarUsuarioPorId"/>
    <message name="buscarUsuarioPorIdResponse"/>
    <message name="buscaruGruposporIdUsuario"/>
    <message name="buscaruGruposporIdUsuarioResponse"/>
    <message name="actualizaPIngresoEnUsuario"/>
    <message name="actualizaPIngresoEnUsuarioResponse"/>
    <message name="buscarProductoPorId"/>
    <message name="buscarProductoPorIdResponse"/>
    <message name="buscarHuellaUsuario"/>
    <message name="buscarHuellaUsuarioResponse"/>
    <message name="buscarHuellaPorSocio"/>
    <message name="buscarHuellaPorSocioResponse"/>
    <message name="insertarHuellaSocio"/>
    <message name="insertarHuellaSocioResponse"/>
    <message name="actualizarHuellaSocio"/>
    <message name="actualizarHuellaSocioResponse"/>
    <message name="insertarDetalleHuellaSocio"/>
    <message name="insertarDetalleHuellaSocioResponse"/>
    <message name="crearPoliza"/>
    <message name="crearPolizaResponse"/>
    <message name="procesaTemporal"/>
    <message name="procesaTemporalResponse"/>
    <message name="ejecutaQuery"/>
    <message name="ejecutaQueryResponse"/>
    <message name="buscarTabla"/>
    <message name="buscarTablaResponse"/>
    <message name="buscaCbOrigenPorId"/>
    <message name="buscaCbOrigenPorIdResponse"/>
    <message name="insertarTemporal"/>
    <message name="insertarTemporalResponse"/>
    <message name="eliminaTemporal"/>
    <message name="eliminaTemporalResponse"/>
    <message name="buscaTemporalIdusuario"/>
    <message name="buscaTemporalIdusuarioResponse"/>
    <message name="actualizaTemporalHuella"/>
    <message name="actualizaTemporalHuellaResponse"/>
    <message name="buscaOrigenPorId"/>
    <message name="buscaOrigenPorIdResponse"/>
    <message name="buscaIdsocioCola"/>
    <message name="buscaIdsocioColaResponse"/>
    <message name="eliminaHuellasColaGuardado"/>
    <message name="eliminaHuellasColaGuardadoResponse"/>
    <message name="buscaTodosLosQueriesLibres"/>
    <message name="buscaTodosLosQueriesLibresResponse"/>
    <message name="buscaQueryPorId"/>
    <message name="buscaQueryPorIdResponse"/>
    <message name="insertaQuery"/>
    <message name="insertaQueryResponse"/>
    <message name="actualizaQuery"/>
    <message name="actualizaQueryResponse"/>
    <message name="buscaQperfilesPorIdQuery"/>
    <message name="buscaQperfilesPorIdQueryResponse"/>
    <message name="buscaQperfilesPorIdUgrupo"/>
    <message name="buscaQperfilesPorIdUgrupoResponse"/>
    <message name="buscaQPerfilesPor2Ids"/>
    <message name="buscaQPerfilesPor2IdsResponse"/>
    <message name="insertaQperfiles"/>
    <message name="insertaQperfilesResponse"/>
    <message name="eliminaQperfiles"/>
    <message name="eliminaQperfilesResponse"/>
    <message name="actualizaEstadoDeMovimientoLocal"/>
    <message name="actualizaEstadoDeMovimientoLocalResponse"/>
    <message name="insertarCbMovimientosLocales"/>
    <message name="insertarCbMovimientosLocalesResponse"/>
    <message name="actualizaEstadoDeMovimientoExterno"/>
    <message name="actualizaEstadoDeMovimientoExternoResponse"/>
    <message name="insertarCbMovimientosExternos"/>
    <message name="insertarCbMovimientosExternosResponse"/>
    <message name="buscarAuxiliaresPorIds"/>
    <message name="buscarAuxiliaresPorIdsResponse"/>
    <message name="buscaPersonasPorOrigen"/>
    <message name="buscaPersonasPorOrigenResponse"/>
    <message name="buscaPersonasPorGrupo"/>
    <message name="buscaPersonasPorGrupoResponse"/>
    <message name="buscaPersona"/>
    <message name="buscaPersonaResponse"/>
    <message name="buscaGrupo"/>
    <message name="buscaGrupoResponse"/>
    <message name="buscaTodosLosGrupos"/>
    <message name="buscaTodosLosGruposResponse"/>
    <message name="traeReporte"/>
    <message name="traeReporteResponse"/>
    <message name="tumbaSesion"/>
    <message name="tumbaSesionResponse"/>
    <message name="cierraSession"/>
    <message name="cierraSessionResponse"/>
    <message name="regresaListaSession"/>
    <message name="regresaListaSessionResponse"/>
    <message name="getInfo"/>
    <message name="getInfoResponse"/>
    <message name="isSession"/>
    <message name="isSessionResponse"/>
    <message name="conexion"/>
    <message name="conexionResponse"/>
    <message name="validador"/>
    <message name="validadorResponse"/>
    <message name="ipCliente"/>
    <message name="ipClienteResponse"/>
    <message name="validaIp"/>
    <message name="validaIpResponse"/>
    <message name="traeLista"/>
    <message name="traeListaResponse"/>
    <message name="getFile"/>
    <message name="getFileResponse"/>
    <portType name="SAICoop">
        <operation name="insertaGpsAsesor">
            <input message="tns:insertaGpsAsesor"/>
            <output message="tns:insertaGpsAsesorResponse"/>
        </operation>
        <operation name="insertaGpsAvance">
            <input message="tns:insertaGpsAvance"/>
            <output message="tns:insertaGpsAvanceResponse"/>
        </operation>
        <operation name="insertaGpsCatalogo">
            <input message="tns:insertaGpsCatalogo"/>
            <output message="tns:insertaGpsCatalogoResponse"/>
        </operation>
        <operation name="insertaGpsContacto">
            <input message="tns:insertaGpsContacto"/>
            <output message="tns:insertaGpsContactoResponse"/>
        </operation>
        <operation name="insertaGpsDetalle">
            <input message="tns:insertaGpsDetalle"/>
            <output message="tns:insertaGpsDetalleResponse"/>
        </operation>
        <operation name="insertaGpsObservacion">
            <input message="tns:insertaGpsObservacion"/>
            <output message="tns:insertaGpsObservacionResponse"/>
        </operation>
        <operation name="insertaGpsPeticiones">
            <input message="tns:insertaGpsPeticiones"/>
            <output message="tns:insertaGpsPeticionesResponse"/>
        </operation>
        <operation name="actualizaGpsPeticiones">
            <input message="tns:actualizaGpsPeticiones"/>
            <output message="tns:actualizaGpsPeticionesResponse"/>
        </operation>
        <operation name="insertaGpsSociedades">
            <input message="tns:insertaGpsSociedades"/>
            <output message="tns:insertaGpsSociedadesResponse"/>
        </operation>
        <operation name="insertaGpsSolucion">
            <input message="tns:insertaGpsSolucion"/>
            <output message="tns:insertaGpsSolucionResponse"/>
        </operation>
        <operation name="insertaGpsSugerencia">
            <input message="tns:insertaGpsSugerencia"/>
            <output message="tns:insertaGpsSugerenciaResponse"/>
        </operation>
        <operation name="idsiguientePeticion">
            <input message="tns:idsiguientePeticion"/>
            <output message="tns:idsiguientePeticionResponse"/>
        </operation>
        <operation name="buscaGpsPeticionesPorIdasesor">
            <input message="tns:buscaGpsPeticionesPorIdasesor"/>
            <output message="tns:buscaGpsPeticionesPorIdasesorResponse"/>
        </operation>
        <operation name="buscaGpsPeticionesPorId">
            <input message="tns:buscaGpsPeticionesPorId"/>
            <output message="tns:buscaGpsPeticionesPorIdResponse"/>
        </operation>
        <operation name="buscaGpsSociedadPorId">
            <input message="tns:buscaGpsSociedadPorId"/>
            <output message="tns:buscaGpsSociedadPorIdResponse"/>
        </operation>
        <operation name="buscaGpsAsesorPorId">
            <input message="tns:buscaGpsAsesorPorId"/>
            <output message="tns:buscaGpsAsesorPorIdResponse"/>
        </operation>
        <operation name="buscaGpsAvancePorId">
            <input message="tns:buscaGpsAvancePorId"/>
            <output message="tns:buscaGpsAvancePorIdResponse"/>
        </operation>
        <operation name="buscaGpsCatalogoPorId">
            <input message="tns:buscaGpsCatalogoPorId"/>
            <output message="tns:buscaGpsCatalogoPorIdResponse"/>
        </operation>
        <operation name="buscaGpsContactoPorId">
            <input message="tns:buscaGpsContactoPorId"/>
            <output message="tns:buscaGpsContactoPorIdResponse"/>
        </operation>
        <operation name="buscaGpsDetallePorId">
            <input message="tns:buscaGpsDetallePorId"/>
            <output message="tns:buscaGpsDetallePorIdResponse"/>
        </operation>
        <operation name="buscaGpsObservacionPorId">
            <input message="tns:buscaGpsObservacionPorId"/>
            <output message="tns:buscaGpsObservacionPorIdResponse"/>
        </operation>
        <operation name="buscaGpsSolucionPorId">
            <input message="tns:buscaGpsSolucionPorId"/>
            <output message="tns:buscaGpsSolucionPorIdResponse"/>
        </operation>
        <operation name="buscaGpsSugerenciaPorId">
            <input message="tns:buscaGpsSugerenciaPorId"/>
            <output message="tns:buscaGpsSugerenciaPorIdResponse"/>
        </operation>
        <operation name="buscaGpsCatalogosPorMenu">
            <input message="tns:buscaGpsCatalogosPorMenu"/>
            <output message="tns:buscaGpsCatalogosPorMenuResponse"/>
        </operation>
        <operation name="buscaTodosLosGpsAsesores">
            <input message="tns:buscaTodosLosGpsAsesores"/>
            <output message="tns:buscaTodosLosGpsAsesoresResponse"/>
        </operation>
        <operation name="buscaTodosLosGpsContactos">
            <input message="tns:buscaTodosLosGpsContactos"/>
            <output message="tns:buscaTodosLosGpsContactosResponse"/>
        </operation>
        <operation name="buscaTodasLasGpsSociedades">
            <input message="tns:buscaTodasLasGpsSociedades"/>
            <output message="tns:buscaTodasLasGpsSociedadesResponse"/>
        </operation>
        <operation name="buscaTodosLosGpsDetallesPorIdPeticion">
            <input message="tns:buscaTodosLosGpsDetallesPorIdPeticion"/>
            <output message="tns:buscaTodosLosGpsDetallesPorIdPeticionResponse"/>
        </operation>
        <operation name="buscaTodosLosGpsAvancesPorIdPeticion">
            <input message="tns:buscaTodosLosGpsAvancesPorIdPeticion"/>
            <output message="tns:buscaTodosLosGpsAvancesPorIdPeticionResponse"/>
        </operation>
        <operation name="buscaTodasLasGpsSolucionesPorIdPeticion">
            <input message="tns:buscaTodasLasGpsSolucionesPorIdPeticion"/>
            <output message="tns:buscaTodasLasGpsSolucionesPorIdPeticionResponse"/>
        </operation>
        <operation name="buscaTodasLasGpsObservacionesPorIdPeticion">
            <input message="tns:buscaTodasLasGpsObservacionesPorIdPeticion"/>
            <output message="tns:buscaTodasLasGpsObservacionesPorIdPeticionResponse"/>
        </operation>
        <operation name="buscaTodasLasGpsSugerenciasPorIdPeticion">
            <input message="tns:buscaTodasLasGpsSugerenciasPorIdPeticion"/>
            <output message="tns:buscaTodasLasGpsSugerenciasPorIdPeticionResponse"/>
        </operation>
        <operation name="buscaUgrupo">
            <input message="tns:buscaUgrupo"/>
            <output message="tns:buscaUgrupoResponse"/>
        </operation>
        <operation name="buscaTodosLosUgrupos">
            <input message="tns:buscaTodosLosUgrupos"/>
            <output message="tns:buscaTodosLosUgruposResponse"/>
        </operation>
        <operation name="buscarpermisosporIdUsuario">
            <input message="tns:buscarpermisosporIdUsuario"/>
            <output message="tns:buscarpermisosporIdUsuarioResponse"/>
        </operation>
        <operation name="buscarUsuarioPorId">
            <input message="tns:buscarUsuarioPorId"/>
            <output message="tns:buscarUsuarioPorIdResponse"/>
        </operation>
        <operation name="buscaruGruposporIdUsuario">
            <input message="tns:buscaruGruposporIdUsuario"/>
            <output message="tns:buscaruGruposporIdUsuarioResponse"/>
        </operation>
        <operation name="actualizaPIngresoEnUsuario">
            <input message="tns:actualizaPIngresoEnUsuario"/>
            <output message="tns:actualizaPIngresoEnUsuarioResponse"/>
        </operation>
        <operation name="buscarProductoPorId">
            <input message="tns:buscarProductoPorId"/>
            <output message="tns:buscarProductoPorIdResponse"/>
        </operation>
        <operation name="buscarHuellaUsuario">
            <input message="tns:buscarHuellaUsuario"/>
            <output message="tns:buscarHuellaUsuarioResponse"/>
        </operation>
        <operation name="buscarHuellaPorSocio">
            <input message="tns:buscarHuellaPorSocio"/>
            <output message="tns:buscarHuellaPorSocioResponse"/>
        </operation>
        <operation name="insertarHuellaSocio">
            <input message="tns:insertarHuellaSocio"/>
            <output message="tns:insertarHuellaSocioResponse"/>
        </operation>
        <operation name="actualizarHuellaSocio">
            <input message="tns:actualizarHuellaSocio"/>
            <output message="tns:actualizarHuellaSocioResponse"/>
        </operation>
        <operation name="insertarDetalleHuellaSocio">
            <input message="tns:insertarDetalleHuellaSocio"/>
            <output message="tns:insertarDetalleHuellaSocioResponse"/>
        </operation>
        <operation name="crearPoliza">
            <input message="tns:crearPoliza"/>
            <output message="tns:crearPolizaResponse"/>
        </operation>
        <operation name="procesaTemporal">
            <input message="tns:procesaTemporal"/>
            <output message="tns:procesaTemporalResponse"/>
        </operation>
        <operation name="ejecutaQuery">
            <input message="tns:ejecutaQuery"/>
            <output message="tns:ejecutaQueryResponse"/>
        </operation>
        <operation name="buscarTabla">
            <input message="tns:buscarTabla"/>
            <output message="tns:buscarTablaResponse"/>
        </operation>
        <operation name="buscaCbOrigenPorId">
            <input message="tns:buscaCbOrigenPorId"/>
            <output message="tns:buscaCbOrigenPorIdResponse"/>
        </operation>
        <operation name="insertarTemporal">
            <input message="tns:insertarTemporal"/>
            <output message="tns:insertarTemporalResponse"/>
        </operation>
        <operation name="eliminaTemporal">
            <input message="tns:eliminaTemporal"/>
            <output message="tns:eliminaTemporalResponse"/>
        </operation>
        <operation name="buscaTemporalIdusuario">
            <input message="tns:buscaTemporalIdusuario"/>
            <output message="tns:buscaTemporalIdusuarioResponse"/>
        </operation>
        <operation name="actualizaTemporalHuella">
            <input message="tns:actualizaTemporalHuella"/>
            <output message="tns:actualizaTemporalHuellaResponse"/>
        </operation>
        <operation name="buscaOrigenPorId">
            <input message="tns:buscaOrigenPorId"/>
            <output message="tns:buscaOrigenPorIdResponse"/>
        </operation>
        <operation name="buscaIdsocioCola">
            <input message="tns:buscaIdsocioCola"/>
            <output message="tns:buscaIdsocioColaResponse"/>
        </operation>
        <operation name="eliminaHuellasColaGuardado">
            <input message="tns:eliminaHuellasColaGuardado"/>
            <output message="tns:eliminaHuellasColaGuardadoResponse"/>
        </operation>
        <operation name="buscaTodosLosQueriesLibres">
            <input message="tns:buscaTodosLosQueriesLibres"/>
            <output message="tns:buscaTodosLosQueriesLibresResponse"/>
        </operation>
        <operation name="buscaQueryPorId">
            <input message="tns:buscaQueryPorId"/>
            <output message="tns:buscaQueryPorIdResponse"/>
        </operation>
        <operation name="insertaQuery">
            <input message="tns:insertaQuery"/>
            <output message="tns:insertaQueryResponse"/>
        </operation>
        <operation name="actualizaQuery">
            <input message="tns:actualizaQuery"/>
            <output message="tns:actualizaQueryResponse"/>
        </operation>
        <operation name="buscaQperfilesPorIdQuery">
            <input message="tns:buscaQperfilesPorIdQuery"/>
            <output message="tns:buscaQperfilesPorIdQueryResponse"/>
        </operation>
        <operation name="buscaQperfilesPorIdUgrupo">
            <input message="tns:buscaQperfilesPorIdUgrupo"/>
            <output message="tns:buscaQperfilesPorIdUgrupoResponse"/>
        </operation>
        <operation name="buscaQPerfilesPor2Ids">
            <input message="tns:buscaQPerfilesPor2Ids"/>
            <output message="tns:buscaQPerfilesPor2IdsResponse"/>
        </operation>
        <operation name="insertaQperfiles">
            <input message="tns:insertaQperfiles"/>
            <output message="tns:insertaQperfilesResponse"/>
        </operation>
        <operation name="eliminaQperfiles">
            <input message="tns:eliminaQperfiles"/>
            <output message="tns:eliminaQperfilesResponse"/>
        </operation>
        <operation name="actualizaEstadoDeMovimientoLocal">
            <input message="tns:actualizaEstadoDeMovimientoLocal"/>
            <output message="tns:actualizaEstadoDeMovimientoLocalResponse"/>
        </operation>
        <operation name="insertarCbMovimientosLocales">
            <input message="tns:insertarCbMovimientosLocales"/>
            <output message="tns:insertarCbMovimientosLocalesResponse"/>
        </operation>
        <operation name="actualizaEstadoDeMovimientoExterno">
            <input message="tns:actualizaEstadoDeMovimientoExterno"/>
            <output message="tns:actualizaEstadoDeMovimientoExternoResponse"/>
        </operation>
        <operation name="insertarCbMovimientosExternos">
            <input message="tns:insertarCbMovimientosExternos"/>
            <output message="tns:insertarCbMovimientosExternosResponse"/>
        </operation>
        <operation name="buscarAuxiliaresPorIds">
            <input message="tns:buscarAuxiliaresPorIds"/>
            <output message="tns:buscarAuxiliaresPorIdsResponse"/>
        </operation>
        <operation name="buscaPersonasPorOrigen">
            <input message="tns:buscaPersonasPorOrigen"/>
            <output message="tns:buscaPersonasPorOrigenResponse"/>
        </operation>
        <operation name="buscaPersonasPorGrupo">
            <input message="tns:buscaPersonasPorGrupo"/>
            <output message="tns:buscaPersonasPorGrupoResponse"/>
        </operation>
        <operation name="buscaPersona">
            <input message="tns:buscaPersona"/>
            <output message="tns:buscaPersonaResponse"/>
        </operation>
        <operation name="buscaGrupo">
            <input message="tns:buscaGrupo"/>
            <output message="tns:buscaGrupoResponse"/>
        </operation>
        <operation name="buscaTodosLosGrupos">
            <input message="tns:buscaTodosLosGrupos"/>
            <output message="tns:buscaTodosLosGruposResponse"/>
        </operation>
        <operation name="traeReporte">
            <input message="tns:traeReporte"/>
            <output message="tns:traeReporteResponse"/>
        </operation>
        <operation name="tumbaSesion">
            <input message="tns:tumbaSesion"/>
            <output message="tns:tumbaSesionResponse"/>
        </operation>
        <operation name="cierraSession">
            <input message="tns:cierraSession"/>
            <output message="tns:cierraSessionResponse"/>
        </operation>
        <operation name="regresaListaSession">
            <input message="tns:regresaListaSession"/>
            <output message="tns:regresaListaSessionResponse"/>
        </operation>
        <operation name="getInfo">
            <input message="tns:getInfo"/>
            <output message="tns:getInfoResponse"/>
        </operation>
        <operation name="isSession">
            <input message="tns:isSession"/>
            <output message="tns:isSessionResponse"/>
        </operation>
        <operation name="conexion">
            <input message="tns:conexion"/>
            <output message="tns:conexionResponse"/>
        </operation>
        <operation name="validador">
            <input message="tns:validador"/>
            <output message="tns:validadorResponse"/>
        </operation>
        <operation name="ipCliente">
            <input message="tns:ipCliente"/>
            <output message="tns:ipClienteResponse"/>
        </operation>
        <operation name="validaIp">
            <input message="tns:validaIp"/>
            <output message="tns:validaIpResponse"/>
        </operation>
        <operation name="traeLista">
            <input message="tns:traeLista"/>
            <output message="tns:traeListaResponse"/>
        </operation>
        <operation name="getFile">
            <input message="tns:getFile"/>
            <output message="tns:getFileResponse"/>
        </operation>
    </portType>
    <binding name="SAICoopPortBinding" type="tns:SAICoop">
        <operation name="insertaGpsAsesor">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsAvance">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsCatalogo">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsContacto">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsDetalle">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsObservacion">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsPeticiones">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizaGpsPeticiones">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsSociedades">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsSolucion">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaGpsSugerencia">
            <input></input>
            <output></output>
        </operation>
        <operation name="idsiguientePeticion">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsPeticionesPorIdasesor">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsPeticionesPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsSociedadPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsAsesorPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsAvancePorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsCatalogoPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsContactoPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsDetallePorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsObservacionPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsSolucionPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsSugerenciaPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGpsCatalogosPorMenu">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosGpsAsesores">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosGpsContactos">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodasLasGpsSociedades">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosGpsDetallesPorIdPeticion">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosGpsAvancesPorIdPeticion">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodasLasGpsSolucionesPorIdPeticion">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodasLasGpsObservacionesPorIdPeticion">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodasLasGpsSugerenciasPorIdPeticion">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaUgrupo">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosUgrupos">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarpermisosporIdUsuario">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarUsuarioPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaruGruposporIdUsuario">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizaPIngresoEnUsuario">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarProductoPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarHuellaUsuario">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarHuellaPorSocio">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertarHuellaSocio">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizarHuellaSocio">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertarDetalleHuellaSocio">
            <input></input>
            <output></output>
        </operation>
        <operation name="crearPoliza">
            <input></input>
            <output></output>
        </operation>
        <operation name="procesaTemporal">
            <input></input>
            <output></output>
        </operation>
        <operation name="ejecutaQuery">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarTabla">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaCbOrigenPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertarTemporal">
            <input></input>
            <output></output>
        </operation>
        <operation name="eliminaTemporal">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTemporalIdusuario">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizaTemporalHuella">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaOrigenPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaIdsocioCola">
            <input></input>
            <output></output>
        </operation>
        <operation name="eliminaHuellasColaGuardado">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosQueriesLibres">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaQueryPorId">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaQuery">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizaQuery">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaQperfilesPorIdQuery">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaQperfilesPorIdUgrupo">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaQPerfilesPor2Ids">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertaQperfiles">
            <input></input>
            <output></output>
        </operation>
        <operation name="eliminaQperfiles">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizaEstadoDeMovimientoLocal">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertarCbMovimientosLocales">
            <input></input>
            <output></output>
        </operation>
        <operation name="actualizaEstadoDeMovimientoExterno">
            <input></input>
            <output></output>
        </operation>
        <operation name="insertarCbMovimientosExternos">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscarAuxiliaresPorIds">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaPersonasPorOrigen">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaPersonasPorGrupo">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaPersona">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaGrupo">
            <input></input>
            <output></output>
        </operation>
        <operation name="buscaTodosLosGrupos">
            <input></input>
            <output></output>
        </operation>
        <operation name="traeReporte">
            <input></input>
            <output></output>
        </operation>
        <operation name="tumbaSesion">
            <input></input>
            <output></output>
        </operation>
        <operation name="cierraSession">
            <input></input>
            <output></output>
        </operation>
        <operation name="regresaListaSession">
            <input></input>
            <output></output>
        </operation>
        <operation name="getInfo">
            <input></input>
            <output></output>
        </operation>
        <operation name="isSession">
            <input></input>
            <output></output>
        </operation>
        <operation name="conexion">
            <input></input>
            <output></output>
        </operation>
        <operation name="validador">
            <input></input>
            <output></output>
        </operation>
        <operation name="ipCliente">
            <input></input>
            <output></output>
        </operation>
        <operation name="validaIp">
            <input></input>
            <output></output>
        </operation>
        <operation name="traeLista">
            <input></input>
            <output></output>
        </operation>
        <operation name="getFile">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="SAICoop">
        <port name="SAICoopPort" binding="tns:SAICoopPortBinding"/>
    </service>
</definitions>
